doctype html 
html 
    head 
        title Touch Bistro
        link(rel='stylesheet', type='text/css', href='/styles.css') 
    body 
        include ./header.pug
        main 
            div.contact-us 
                h1 Contact Customer Support
                div.contact-details
                    p You don't work 9 to 5, so neither do we. The TouchBistro customer service team is here for you – 24/7/365.
                    p.contact Call: 1-888-342-0131
