doctype html 
html 
    head 
        title Touch Bistro 
        link(rel='stylesheet', type='text/css', href='/styles.css')
    body 
        include ./header.pug
        main 
            div.home 
                h1 The 51 Best Restaurant Websites of 2023: Examples & Design Inspiration
                p The best restaurant websites all have one thing in common: they make it incredibly easy for online visitors to find what they’re looking for.
                p This is crucial because 77% of diners report visiting a restaurant’s website before they dine in or order takeout or delivery from an establishment. And of that group, nearly 70% have been discouraged from visiting a restaurant simply because of a bad website – yikes! 
                p It’s clear that a well-designed restaurant website is key to getting customers in the door (or ordering online), but great restaurant website design is a lot harder to achieve than you might think. 
