doctype html 
html 
    head 
        title Touch Bistro
        link(rel='stylesheet', type='text/css', href='/styles.css') 
    body 
        include ./header.pug
        main 
            div.services 
                h1 Our Services
                p.
                    Aside helping you create a wonderful restaurant website, 
                    we also connect you to well established world class restuarant website 
                    and you can find them below.
                ul 
                    li
                        a(href='https://girlandthegoat.com/') Girl & the Goat – Chicago, Illinois
                        p.
                            Chicago’s Girl and the Goat makes use of a sleek side 
                            navigation bar with all of the relevant information and 
                            links laid out in an easy-to-navigate order.
                    li
                        a(href='https://www.tikichick.com/') Tiki Chick – New York City, New York
                        p.
                            The website for New York City’s Tiki Chick reflects the brand’s 
                            fun ethos with bright colors and tropical restaurant branding. 
                            The site also uses an embedded Instagram feed to give users a visual 
                            taste of its colorful cocktails, tropical eats, and modern interior.
                    li
                        a(href='https://www.sweetjesusicecream.com/cones') Sweet Jesus – Toronto Ontario
                        p.
                            Toronto ice cream purveyor Sweet Jesus uses an eye-catching grid layout and 
                            tantalizing photos to display its menu – an especially clever tactic for an ice cream shop 
                            that serves up some of the city’s most Instagramable cones.
                    li
                        a(href='https://www.sundayinbrooklyn.com/') Sunday in Brooklyn – New York City, New York
                        p.
                            Brooklyn brunch spot Sunday in Brooklyn’s clean navigation bar makes it easy for customers 
                            to navigate to different parts of the website, while the high-quality images capture the eye.
                    li
                        a(href='https://www.mizlalarestaurants.com/westadams') Mizlala – Los Angeles, California
                        p.
                            The homepage for Los Angeles’ Mizlala restaurant uses high-quality food photography to draw visitors in, 
                            while the clear call to action (CTA) buttons for pickup and delivery make it easy for users 
                            to navigate to the correct ordering platform.
                    li
                        a(href='https://chubbysjamaican.com/') Chubby’s Jamaican Kitchen – Toronto, Ontario
                        p.
                            Chubby’s Jamaican Kitchen in Toronto has made its website easy to navigate by making use of both the top 
                            and bottom navigation bars. The restaurant also uses an edge-to-edge picture carousel with clear CTA buttons 
                            to highlight important links such as its online marketplace.
                    li
                        a(href='https://1751houston.com/') 1751 Sea and Bar – Houston, Texas
                        p.
                            Houston’s 1751 Sea and Bar uses a moody grey color scheme, minimal text, 
                            and high-quality photos to immediately convey an upscale dining experience.
                    li
                        a(href='https://www.collettarestaurant.com/') Colletta – Alpharetta, Georgia
                        p.
                            Georgia’s Colletta restaurant draws in a visitor’s attention with its clean 
                            and modern restaurant website design. The brand also uses standout CTA buttons 
                            to make it easy for customers to immediately order online or make a reservation.
                    li
                        a(href='https://www.askforluigi.com/') Ask for Luigi – Vancouver, British Columbia
                        p.
                            Vancouver hotspot Ask for Luigi gives customers a taste of its food, drinks, 
                            and venue by making clever use of a gallery layout on its homepage. 
                            These high-quality images also complement the overall color scheme to create a unified design across the webpage.
